@function px($n) {
  @return calc($n/1280) * 100rem;
}

$color-highlight: #00edf3;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}
ol,
ul {
  list-style: none;
}
#app {
  margin: auto;
}
.panel {
  padding: px(8) px(12) px(12);
  border: 1px solid white;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // border: 1px solid yellow;
    box-shadow: 13px 0 0 -12px #375482, -13px 0 0 -12px #375482,
      0 13px 0 -12px #375482, 0 -13px 0 -12px #375482;
  }
  .title {
    display: block;
    text-align: left;
    color: $color-highlight;
    font-size: px(16);
  }
  .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px(6);
    color: $color-highlight;
    font-size: px(12);
    height: px(12);
    border-left: px(3) solid $color-highlight;
  }
  .sub-panel {
    background-color: #0a2146;
    padding: px(6) px(8) px(10) 0;
  }
}
